@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Archivo+Black&family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Comfortaa:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Liter&family=Londrina+Sketch&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Protest+Strike&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Gemstones&family=Rubik+Maze&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&display=swap');

body {
  padding: 0; margin: 0;
  background: #102313;
}

header {
  margin: 0; padding: 0;
  background: rgb(39, 103, 65);
  display: flex;
  align-items: stretch;
}

header button {
  margin: 0;
  padding: 0 15px 0 15px;
  border-top: 0;
  border-right: 1px solid #264926;
  border-bottom: 0;
  border-left: 0;
  box-shadow: inset -20px 0 20px -10px rgba(62 126 94 / 40%), inset 20px 0 20px -10px rgba(20, 40, 30, 0.4);
  text-align: center;
  flex: 1;
  background: none;
}

header button.active h2 {
  margin: 20px 0 0 0; padding: 20px 0 20px 0;
  color: black;
  background: yellowgreen;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

header button:hover {
  background: #4caf5035;
}

header h2 {
  margin: 0; padding: 40px 0 20px 0;
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 30px rgb(20, 40, 30);
}

header  img {
  padding: 50px 0 0 0; margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  align-content: center;
  background: yellowgreen;
  font-family: 'Arial', sans-serif;
}

td, th {
  padding: 15px;
  font-size: 20px;
  text-align: center;
}

td {
  border: 1px solid wheat;
  position: relative;
}

button {
  background: none;
  border: none;
}

.helpButton {
  background: #f8b5b5;
  border-radius: 50px;
}

.imageInput {
  background: #e8e8e8;
}

#name {
  background: yellowgreen;
}

fieldset  {
  width: 100%;
  margin: 0; padding: 10px;
  border: 0;
  background: yellowgreen;
  align-items: center;
}

#displayTableRow {
  margin: 0; padding: 20px;
  background: yellowgreen;
}

#addCategory, #modifyCategory {
  padding: 40px;
}

#addTag {
  margin: 0; padding: 20px 50px;
}

input, select, #addCategoryButton, #modifyCategoryButton {
  margin: 3px; padding: 10px;
  border-radius: 15px;
  border: 1px solid green;
}

#addCategoryButton, #modifyCategoryButton {
  background: yellowgreen;
}

.tags {
  margin: 0; padding: 10px;
  color: white;
  border-radius: 20px;
}

.modalWindow {
  margin: 5px; padding: 20px;
  display: none;
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  background: white;
  border-radius: 10px;
  border: 2px solid green;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.overlay.active {
  display: block;
}

.close {
  position: absolute;
  top: 10px;
  right: 18px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 501px) and (max-width: 1340px) {
  th {
    display: none;
  }

  tr {
    border-bottom: 8px solid grey;
  }

  td {
    padding-right: 15%;
    padding-left: 40%;
    display: block;
    font-size: 25px;
  }

  td::before {
    position: absolute;
    content: attr(data-label);
    display: block;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 15px;
    text-align: left;
    left: 2%;
  }

  header  img {
    display: none;
  }

  header button h2 {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  th {
    display: none;
  }

  tr {
    border-bottom: 8px solid grey;
  }

  td {
    padding-left: 0;
    display: block;
  }

  td::before {
    position: static;
    content: attr(data-label);
    display: block;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
  }

  header img {
    display: none;
  }

  header button h2 {
    font-size: 12px;
  }
}
